doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='./css/style.css')
  title ICT Academy of Kerala | Welcome 
header
  .container
    #branding
      h1
        | ICT Academy of 
        span.highlight Kerala
    nav
      ul
        li.current
          a(href='index.html') Home
        li
          a(href='about.html') About
        li
          a(href='services.html') Services
section#showcase
  .container
    #heading1
      h1 IT and Life Skills Training
      p
        strong Building the Nation&apos;s Future
section#part3
  .container
    h3 To Be an IT Professional
    form(action='process.php')
      input(type='email', placeholder='Enter email')
      button.button1(type='submit') Submit
section#part4
  .container
    .box1
      img(src='./img/box1i.jpeg')
      h3 Heading1
      p
    .box2
      img(src='./img/box2i.jpeg')
      h3 Heading 2
      p
    .box3
      img(src='./img/box3i.jpg')
      h3  Heading 3
      p
footer
  .container
    | @ictacademy